/node_modules
/public/hot
/public/storage
/public/static
/public/fonts
/public/images
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
npm-debug.log
npm-debug.log*
.php_cs